# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*
.env*.local
env.js
.secret*

# typescript
*.tsbuildinfo

# app examples and unused code
app-example/

# Credentials and secrets
*credentials*
*secret*
*.pem
*.key
.npmrc

# Local development
*.log
.vscode/
.idea/
.gradle
local.properties

# Build files
android/app/build/
ios/build/
android/app/debug
android/app/release

# Personal notes
*notes.md
*TODO.md
